
html, body {
    margin-left: 0;
    padding-left: 0;
}


body {
    text-align: center;
    padding: 0px;
    background-image: url("aaya.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}



.nav ul {
    margin: 0;
}

.nav li {
    display: inline
}

.nav a {
    display: inline-block;
    padding: 0;
    color: white;
    text-decoration-color: none;

}

.nav a:hover {
    background-color: white ;
    background-blend-mode: hard-light;

}

.nav a {
    padding: 0;
    color: white
 
    
}

.img {
    margin: 15%;
    width: 50%;
    border-radius: 15%;
    margin-bottom: 20% ;
}

.title {
    color: white;
}

.section img {
    height:50px
}

.icon {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: none;
    align-items: center;
}

